div {
  background-color: #3498db;
  height: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: colorPulse 2s ease-in-out infinite;
}

@keyframes colorPulse {
  0% {
    background-color: #3498db;
  }
  25% {
    background-color: #2ecc71;
  }
  50% {
    background-color: #f39c12;
  }
  75% {
    background-color: #e74c3c;
  }
  100% {
    background-color: #3498db;
  }
}
